{% extends 'home.html' %}

{% block content %}

{% load static %}

<h1 class="text-center">Contact</h1>

<div class="px-3">
    <div class="row mx-0">
        <iframe class="card-img-top" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10501.936079774447!2d2.651302!3d48.84898!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a24164bf7f9a1eb!2sMicrotel%20Club%20Informatique%20Marne%20la%20Vall%C3%A9e!5e0!3m2!1sfr!2sfr!4v1568666216376!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
        <div class="row mx-0">
            <img class="img-thumbnail" src="{% static 'images/chateau.jpg' %}"/>
            <div class="col">
                <p>Le château des charmettes est situé dans un parc pas très loin de la mairie de Torcy.</p>
                <p>Adresse: <strong>Château des Charmettes, Avenue de Lingenfeld, 77200 Torcy</strong></p>
                <p>Venez, nous serons heureux de vous accueillir.</p>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col">
                <p>Pour nous contacter tout simplement :</p>
                <p>Téléphone : <strong>09 50 77 00 68</strong><br/>
                   Email : <strong>microtel.mlv@free.fr</strong></p>
                <p>Si vous avez des connaissances à PARTAGER, venez nous rendre visite.</p>
                <p class="text-danger">Nous recherchons aussi des ANIMATEURS.</p>
            </div>
        </div>
</div>


{% endblock %}