{% extends 'home.html' %}

{% block content %}

{% load static %}

<h1 class="text-center">Histoire de Torcy</h1>
<div class="card col-lg-6 mx-auto">
    <img class="card-img-top"  src="{% static 'images/torcy_logo.svg' %}" class="img-fluid" alt="Torcy - Marne la vallee"/>

    <div class="card-body">
        <p class="card-text">
            Le bourg gallo-romain de "Torciacum" devenu Torcy-le-Grand, puis Torcy en Brie est plus communément connu sous le nom de Torcy aujourd'hui.
            <br/><br/>
            Il faut remonter en l'an 868 pour trouver pour la première fois le nom de Torciacum (probablement parce que cette terre appartenait à un homme nommé Torcius).
            Une Prévôté Royale avait son siège à Torcy qui faisait partie de la Province de l'Ile de France et sa paroisse dépendait du Diocèse de Paris, Doyenné de Lagny, Archidiaconné de Brie.
            La paroisse de Lognes a eu une chapelle à Torcy vers la fin du XIIIe siècle.
            Geoffroy Camus, seigneur de Pontcarré et de Torcy, fit construire en 1618 une église sur une place qui existait alors près de la Ferme du Couvent. Elle fut rasée en 1865.
            Une chapelle aurait été placée sous l'invocation de Saint-Louis, et aurait été de fondation royale. Elle se trouvait près de l'ancien château.
            Sous l'ancien régime, le roi, les seigneurs et les religieux étaient propriétaires en partie des fiefs et terres de Torcy. L'abbaye de Saint-Maur-des-Fossés, le monastère de Faremoutiers, l'abbaye de Lagny et le prieuré de Gournay, entre autres communautés religieuses, possédaient ainsi des droits sur les terres de Torcy et en recevaient des redevances.
            Vers 1675, 78 arpents environ comprenant parc, enclos, fief, seigneurie, moulin et étang, prairie appartenaient au Chapitre Royal du Vivier.
            Un monastère connu à l'époque sous le titre de prieuré Notre-Dame et Saint-Louis fut fondé dans les bâtiments de l'ancien fief du Vivier par l'abbé Berryer. Il est vraisemblable que sous la Ferme du Couvent actuelle se trouvent encore des vestiges de cet ancien prieuré qui comptait environ trente religieuses, dont l'une fut Marie-Louise d'Albert de Luynes, protégée de Bossuet.
            Le premier marquis de Torcy fut Jean-Baptiste Colbert, fils aîné de Charles Colbert, marquis de Croissy, né en 1665.
            Le château de Torcy, qui appartenait, vers 1800, à Monsieur Gondin, ancien Conseiller du Grand Conseil du Roi, n'existe plus. Toutefois de nombreux souterrains existent encore, et leurs ramifications s'étendraient jusqu'aux communes environnantes.
            <br/><br/>
            Si la ruralité a été l’image dominante de la commune durant la première moitié du 19ème siècle, Torcy entre dans l’ère industrielle dès la seconde moitié avec l’installation de la chocolaterie Menier à Noisiel où de nombreux Torcéens travaillent et vivent dans les « maisons Menier » (situées dans le vieux bourg de Torcy) en briques et céramiques vernissées. A changement de profil de population, changement de centre d’intérêts pour la Municipalité qui va s’efforcer de désenclaver la ville avec la construction d’un pont franchissant la Marne (1897) ainsi que la création d’une halte SNCF (gare de Vaires-Torcy).
            <br/><br/>
            <em>(Extrait d'histoire pris sur le site de la mairie de Torcy)</em>
        </p>
    </div>
</div>

{% endblock %}