.microtel-nav {
    padding: 5px 15px;
}

.microtel-title {
    font-family: 'Squada One', cursive;
    font-size: 1.5rem;
    padding: 0;
}

.microtel-event {
    margin-bottom: 1rem;
}
.microtel-event:last-child {
    margin-bottom: 0px;
}

[role=main] {
    margin-top: 50px;
}
