{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.svg' %}"/>

        <script src="https://unpkg.com/feather-icons"></script>

        <title>Microtel - Torcy</title>
    </head>

    <body class="bg-ligth">
        <nav class="navbar navbar-dark shadow bg-dark fixed-top">
            <a class="navbar-brand microtel-title" href="{% url 'home' %}">Microtel club Torcy</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item row">
                    {% block login %}
                    {% endblock %}
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-2 bg-light navbar-light fixed-top microtel-sidebar border-right">
                    <div class="sticky-top">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% if active == 'initiation' %} active {% endif %}" href="{% url 'initiation' %}">
                                    <i data-feather="airplay"></i>
                                    Initiations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if active == 'evenements' %} active {% endif %}" href="{% url 'evenements' %}">
                                    <i data-feather="calendar"></i>
                                    Evènements
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if active == 'cotisation' %} active {% endif %}" href="{% url 'cotisation' %}">
                                    <i data-feather="credit-card"></i>
                                    Cotisation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if active == 'donateur' %} active {% endif %}" href="{% url 'donateur' %}">
                                    <i data-feather="thumbs-up"></i>
                                    Donateurs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if active == 'contact' %} active {% endif %}" href="{% url 'contact' %}">
                                    <i data-feather="user"></i>
                                    Contact
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if active == 'torcy' %} active {% endif %}" href="{% url 'torcy' %}">
                                    <i data-feather="bookmark"></i>
                                    Histoire de Torcy
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main class="col-10 ml-auto px-5 pt-1" role="main">
                    <div class="container-fluid">


                        {% block content %}
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>

        {% block modals %}
        {% endblock %}

        <script>
            feather.replace()
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>