{% extends 'blog/home.html' %}

{% block content %}

<h1 class="text-center">Cotisations</h1>

<div class="px-3">
    <p class="card-text text-primary">S'inscrire à notre club, c'est avoir l'accès à l'internet toutes les fois que le club est ouvert.<br/>
    C'est aussi la possibilité de participer à une ou toutes les initiations prévues dans l'année sans supplément financier dans la mesure de places disponibles.</p>
        <div class="jumbotron">
            <h3>Cotisation annuelle *</h3>
            <h4>77 €*</h4>
            <small>(sans frais supplémentaire pour toutes les activités.)</small>

            <p><strong>Demandeurs d'emploi et étudiants : </strong></p>
            <h4>51 €</h4>
            <small>(sur justificatif de l'année en cours).</small>
        </div>
</div>

{% endblock %}