{% extends 'blog/home.html' %}

{% block content %}

<h1 class="text-center">Evenements</h1>

<div class="card col-lg-8 mx-auto">
    <div class="card-body">

        {% if perms.add_event %}
        <button class="btn btn-block btn-success mb-3" role="button" data-toggle="modal" data-target="#modalEvent">
            <i class="mr-2" data-feather="plus-circle"></i>
            Ajouter un Evenement
        </button>
        {% endif %}

        {% for event in events %}
        <div class="row no-gutter microtel-event border rounded overflow-hidden mx-0">
            <div class="col-2 text-white bg-primary">
                <p><strong>{{ event.begin_date }}</strong></p>
            </div>
            <div class="col">
                <h5>{{ event.title }}</h5>
                <small>{{ event.text }}</small>
            </div>

            {% if perms.remove_event %}
            <a href="{% url 'remove_event' pk=event.pk %}"><i class="mr-2 mt-2 text-danger" data-feather="x-circle"></i></a>
            {% endif %}
        </div>


        {% endfor %}

    </div>
</div>

<div class="modal fade" id="modalEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form method="post" action="createevent">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Connexion</h5>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {{ event_form }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Publier</button>
          </div>
        </div>
      </form>
  </div>
</div>

{% endblock %}