{% extends 'blog/home.html' %}

{% block content %}

<h1 class="text-center">Initiation</h1>

<div class="px-3">
    <table class="table table-bordered">
        <thread>
            <tr>
                <th scope="col">Jour</th>
                <th scope="col">Heure</th>
                <th scope="col">Description</th>
                <th scope="col">Animateur</th>
            </tr>
        </thread>
        <tbody>
            <!--    LUNDI-->
            <tr>
                <th scope="row">Lundi</th>
                <td>14h00 - 16h30</td>
                <td>
                    <p>Activités sur Thèmes de façon périodique</p>
                    <p>(20/27 novembre-Installation et création de compte</p>
                    <p>(4/11 décembre - Nettoyage / déverminage d'un PC)</p>
                    <p>(18 décembre - Questions / réponses - Révisions)</p>
                    <p>(8/15/22 janvier - Client de messagerie Thunderbird)</p>
                    <p>(29 janvier - Questions / réponses - Révisions)</p>
                    <p>(5/12 février - Téléchargement de vidéos et extraction de la musique en MP3 depuis Youtube</p>
                    <p>(12/19 mars - Movie Maker ou power point)</p>
                    <p>(2/9  avril - Questions / réponses - Révisions)</p>
                </td>
                <td>Jean-Pierre</td>
            </tr>
            <!--        MARDI-->
            <tr>
                <th scope="row" rowspan="3">Mardi</th>
                <td>9h00 - 12h00</td>
                <td>
                    <p>Windows 10- Internet</p>
                    <p>(Rotation par module de 2-3 semaines)</p>
                    <p>(15/22 novembre - Installation et création de compte)</p>
                    <p>(6/13/23 décembre - Navigateur Chrome)</p>
                    <p>(10/17/31 janvier - Messagerie Gmail)</p>
                    <p>(7/14 février - Contact Gmail)</p>
                    <p>(7-/14 mars - Agenda Google)</p>
                    <p>(4/11 avril et 2 mai - Google Drive)</p>
                    <p>(16/23/30 mai - Google photos)</p>
                </td>
                <td>Jacques</td>
            </tr>
            <tr>
                <td>14h00-16h00</td>
                <td>
                    <p>Bureautique - office</p>
                    <p>(de novembre à janvier - Word)</p>
                    <p>(de février à mai - Powerpoint)</p>
                </td>
                <td>Colette</td>
            </tr>
            <tr>
                <td>20h45-22h00</td>
                <td>Windows et Internet</td>
                <td>Stan</td>
            </tr>
            <!--        MERCREDI-->
            <tr>
                <th scope="row">Mercredi</th>
                <td>14h00-16h30</td>
                <td>
                    <p>Windows 10 - Internet</p>
                    <p>(Rotation par module de 2-3 semaines)</p>
                    <p>(16/23 novembre - Installation et création de compte)</p>
                    <p>7/14/21 décembre - Navigateur Chrome)</p>
                    <p>(11/18 janvier/1er février - Messagerie Gmail)</p>
                    <p>(8/15 février - Contact Gmail)</p>
                    <p>(8-/15 mars - Agenda Google)</p>
                    <p>(5/12 avril et 3 mai - Google Drive)(17/24/31 mai - Google photos)</p>
                </td>
                <td>Jacques</td>
            </tr>
            <!--        JEUDI-->
            <tr>
                <th scope="row">Jeudi</th>
                <td>9h00-12h00</td>
                <td>Windows 10 -Internet (Rotation par module de 2-3 semaines)</td>
                <td>Jacques</td>
            </tr>
            <!--        VENDREDI-->
            <tr>
                <th scope="row">Vendredi</th>
                <td>09h00-12h00</td>
                <td>Photoshop</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Vendredi</th>
                <td>21h00</td>
                <td>
                    <p>Jeux en réseaux, dépannages, consultation messagerie,
                        consultations emails, papotages et échanges d'idées.
                    Accès libre à Internet, ... </p>
                </td>
                <td>Soirée libre</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}