<div class="jumbotron jumbotron-fluid microtel-hero">
    <div class="container">
        <h1 class="display-4">Évènements 🎉</h1>

        <div class="row mt-5">
            <div class="col-3">
                <div class="microtel-event-card">
                    <div class="card-title">
                        <div class="date text-small"><i data-feather="calendar" height="14" width="14"></i> 1 Janvier 1970</div>
                        <div class="title">Titre de l'évèvement</div>
                    </div>
                    <p class="card-text">
                        Description de l'event
                    </p>
                </div>
            </div>

            <div class="col-3">
                <div class="microtel-event-card">
                    <div class="card-title">
                        <div class="date text-small"><i data-feather="calendar" height="14" width="14"></i> 1 Janvier 1970</div>
                        <div class="title">Titre de l'évèvement</div>
                    </div>
                    <p class="card-text">
                        Hello world
                    </p>
                </div>
            </div>

            <div class="col-3">
                <div class="microtel-event-card">
                    <div class="card-title">
                        <div class="date text-small"><i data-feather="calendar" height="14" width="14"></i> 1 Janvier 1970</div>
                        <div class="title">Titre de l'évèvement</div>
                    </div>
                    <p class="card-text">Hello world</p>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <a href="#"><i data-feather="plus" height="16" width="16"></i> Proposez un évènement</a>
        </div>
    </div>
</div>
