<footer class="microtel-footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="title">Retrouvez-nous</div>
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item mt-1" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10501.936079774447!2d2.651302!3d48.84898!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5a24164bf7f9a1eb!2sMicrotel%20Club%20Informatique%20Marne%20la%20Vall%C3%A9e!5e0!3m2!1sfr!2sfr!4v1568666216376!5m2!1sfr!2sfr" frameborder="0" style="border:0;"></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="title">Addresse <i data-feather="home" class="feather-16"></i></div>
                <div class="mt-1">
                    Château des Charmettes<br>
                    Avenue de Lingenfeld<br>
                    77200 Torcy
                </div>
                <div class="title mt-3">Contact <i data-feather="phone" class="feather-16"></i> <i data-feather="mail" class="feather-16"></i></div>
                <div class="mt-1">
                    <a href="tel:+33950770068">09 50 77 00 68</a><br>
                    <a href="mailto:microtel.mlv@free.fr">microtel.mlv@free.fr</a>
                </div>
                <p class="mt-3">Si vous avez des connaissances à <span class="font-weight-bold">partager</span>, venez nous rendre visite.</p>
                <p class="mt-1">Nous recherchons aussi des <span class="font-weight-bold">animateur</span>.</p>
            </div>
        </div>
    </div>
</footer>