<nav class="navbar navbar-expand navbar-dark bg-dark microtel-nav">
    <a class="navbar-brand microtel-title" href="{% url 'home' %}">
        Microtel club Torcy
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link {% if active == 'initiation' %} active {% endif %}" href="{% url 'initiation' %}">
                <i dd="airplay"></i>
                Initiations
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active == 'evenements' %} active {% endif %}" href="{% url 'evenements' %}">
                <i dd="calendar"></i>
                Evènements
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active == 'cotisation' %} active {% endif %}" href="{% url 'cotisation' %}">
                <i dd="credit-card"></i>
                Cotisation
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active == 'donateur' %} active {% endif %}" href="{% url 'donateur' %}">
                <i dd="thumbs-up"></i>
                Donateurs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active == 'torcy' %} active {% endif %}" href="{% url 'torcy' %}">
                <i dd="bookmark"></i>
                Histoire de Torcy
            </a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item row">
            {% if user.is_authenticated  %}
            <p class="nav-link">
                <span class="text-white mr-3">Bonjour, {{ user.username }}</span>
                <a href="{% url 'logout' %}"><i data-feather="log-out"></i></a>
            </p>
            {% else %}
            <!-- Button trigger modal -->
            <a class="nav-link" href="" data-toggle="modal" data-target="#modalLogIn">
                <i data-feather="log-in"></i>
                Se connecter
            </a>
            {% endif %}
        </li>
    </ul>
</nav>
